Agente para DRIVE v7.json
{
  "name": "Agente para DRIVE v7",
  "nodes": [
    {
      "parameters": {
        "content": "## Respuesta\n",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "c4222ba0-f319-48e8-8e73-2d7deff40a36",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"success\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        64
      ],
      "id": "69daeddc-3bb3-4e5d-91c7-8fd5651fc07b",
      "name": "Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Data",
              "type": "array"
            },
            {
              "name": "filename"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        64
      ],
      "id": "e12f013f-2f3e-4483-a0f4-94191735b69e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        64
      ],
      "id": "803f40d9-0bb5-418a-9534-9cad53fa428f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        64
      ],
      "id": "7c3c5935-9cef-4a06-95b7-2f4b30e499c1",
      "name": "Upload file"
    },
    {
      "parameters": {
        "content": "### Subiendo archivo\n",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "cecc7558-ae0a-421d-8467-05c5524ebecb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Formateo de datos",
        "height": 224,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "b8fe5e90-f0a0-4b94-b90d-1a528a5d3301",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "38da81d7-58ac-4e59-9372-3528a82c9e01",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        64
      ],
      "id": "87cfbfd2-02ff-4355-b7b7-468df2dbcdfd",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdcd4a72-3afd-4a2c-9742-74ff74a97898",
  "meta": {
    "instanceId": "9ab0a94b1b4f9f34addbbe773a7bbf032272204ed2b93b4fc1ecc2b6390f4cb7"
  },
  "id": "z6VRzsTxS2O7hYOS",
  "tags": []
}