Interprete v7.json
{
  "name": "Interprete v7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "75d2ed5e-0c78-4a75-ac23-632c727f1c4b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        288
      ],
      "id": "0d84661d-8c75-4ab6-a608-a1ee7fe2bdf1",
      "name": "Webhook",
      "webhookId": "75d2ed5e-0c78-4a75-ac23-632c727f1c4b"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        224
      ],
      "id": "f4c77efb-cb88-4946-a851-a08020f1d291",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ki5T4RuIqmHUgq1a",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ki5T4RuIqmHUgq1a",
          "cachedResultName": "Agente para MAILS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.output[0].output_data.mail_address }}",
            "Subject": "={{ $json.output[0].output_data.subject }}",
            "Body": "={{ $json.output[1].output_query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1744,
        64
      ],
      "id": "f5e00d81-9611-4e9e-a2ca-c8958a167886",
      "name": "Call 'Agente para MAILS'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "V6mrCBrZMPqbBb3Z",
          "mode": "list",
          "cachedResultUrl": "/workflow/V6mrCBrZMPqbBb3Z",
          "cachedResultName": "Agente para BUSQUEDA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $json.output_data.query }}"
          },
          "matchingColumns": [
            "Query"
          ],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        496
      ],
      "id": "3631095f-1046-439b-8fa7-33570d171e63",
      "name": "Call 'Agente para BUSQUEDA'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SDobU1LenH0a63jA",
          "mode": "list",
          "cachedResultUrl": "/workflow/SDobU1LenH0a63jA",
          "cachedResultName": "Agente para DRIVE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.output[1].output_query }}",
            "filename": "={{ $json.output[0].output_data.filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1744,
        512
      ],
      "id": "e8e6ce5d-26ce-40e8-9709-250e9eb58e97",
      "name": "Call 'Agente para DRIVE'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].output_data.next_tool }}",
                    "rightValue": "Mail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea362b74-290b-4223-9708-39b5131119bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mails"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "514403ae-3a1a-4598-95f0-777eb1524267",
                    "leftValue": "={{ $json.output[0].output_data.next_tool }}",
                    "rightValue": "Simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Simple"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef711163-d59a-4d06-a61f-3f819b6f0669",
                    "leftValue": "={{ $json.output[0].output_data.next_tool }}",
                    "rightValue": "Drive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Drive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1488,
        288
      ],
      "id": "f9fe68a4-936e-443d-88c2-9c73b2cd2fb2",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2256,
        304
      ],
      "id": "e0b80b4d-65fd-4825-ad1a-bbe03140ec51",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output_data\": {{ $json.output }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        288
      ],
      "id": "79ea8f03-57aa-45ef-80e4-53a0328e76e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        304
      ],
      "id": "090b2f67-0501-4cbf-a1d4-6224f692129c",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Agente",
        "height": 224,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "1734766e-f799-4bee-9ad2-25dae76275a0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n",
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        512
      ],
      "id": "0babbf4b-6f11-48cc-9afd-019e128d5257",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "c6a43826-eac7-4d5e-90b3-328df0c7d1f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        224
      ],
      "id": "e27609b7-1e62-4e5a-80d1-472d3fbe1653",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        224
      ],
      "id": "1b5ae920-6f13-4756-a513-5dc98bca5dc3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        224
      ],
      "id": "0b17926a-957c-4ec1-8cde-378a8fb76d7c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1696,
        0
      ],
      "id": "ad0a8878-8723-4fd6-bad6-2561e5e4b8a4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Salida",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        224
      ],
      "id": "d28d362a-7668-45ad-bd5c-7716b415c3af",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1696,
        448
      ],
      "id": "3947b778-dd2a-4b67-ba0e-e01b58b560d5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        448
      ],
      "id": "1cb4e902-2a73-48ea-8b54-51d06768c5f5",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 672,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        0
      ],
      "id": "3e30924a-03db-4e8c-a6bf-c7a7944eded8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc0776db-0bda-497b-a7c0-1ba5cd5d46dc",
              "name": "output",
              "value": "={{ $('Switch').item.json.output[1].output_query }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        64
      ],
      "id": "d6a70370-1ebc-4d1f-8217-11fc3ee91f04",
      "name": "Response Mail"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc0776db-0bda-497b-a7c0-1ba5cd5d46dc",
              "name": "output",
              "value": "={{ $json.output[1].output_query }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        304
      ],
      "id": "c0268c3d-6b46-4102-a74c-035f0a195b80",
      "name": "Response Simple"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc0776db-0bda-497b-a7c0-1ba5cd5d46dc",
              "name": "output",
              "value": "={{ $('Switch').item.json.output[1].output_query }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        512
      ],
      "id": "f0c16e15-79bd-4c92-946d-b88893f29fed",
      "name": "Response Drive"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        32
      ],
      "id": "ec2f11bf-3746-4049-83c6-82634a1dfac9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"next_tool\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Enrutamiento: 'Mail' si el usuario solicita que se envie informacion a una direccion de correo electronico; 'Drive' si el usuario solicita que se suba la informacion a un drive; 'Simple' si el usuario no aclara ninguna herramienta, toma siempre esta salida como defecto\",\n            \"enum\": [\"Simple\", \"Mail\",\"Drive\"]\n\t\t},\n        \"mail_address\":{\n            \"type\": \"string\",\n            \"description\": \"La direcci贸n de correo electr贸nico exacta (ej. 'juan@empresa.com') a la que se debe enviar la informaci贸n. DEBES extraerla del mensaje del usuario.\"\n        },\n        \"subject\":{\n            \"type\": \"string\",\n            \"description\": \"Un asunto conciso y descriptivo para el correo electr贸nico (ej. 'Reporte de Profesionales').\"\n        },\n        \"filename\":{\n            \"type\": \"string\",\n            \"description\": \"Un nombre para archivo conciso y descriptivo para subir al drive (ej. 'Reporte de Profesionales').\"\n        }\n        ,\n\t\t\"query\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"descripcion\": \"El texto exacto de la pregunta o solicitud que debe pasarse al Agente para BUSQUEDA. Por ejemplo: 'la informaci贸n de los profesionales' o 'el registro del paciente 42'.\"\n\t\t}\n\t},\n    \"required\": [\"next_tool\",\"query\"],\n    \"if\":{\n        \"properties\":{\n            \"next_tool\":{\n                \"const\": \"Mail\"\n            }\n        }\n    },\n    \"then\":{\n        \"required\": [\"mail_address\", \"subject\"]\n    },\n  \n    \"if\":{\n        \"properties\":{\n            \"next_tool\":{\n                \"const\": \"Drive\"\n            }\n        }\n    },\n    \"then\":{\n        \"required\": [\"filename\"]\n    }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        544
      ],
      "id": "3174b3d9-e09e-4244-99cd-3b20436945b4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "\n",
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4cf30852-f665-4310-a7a9-0a6b99dd5e55",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        304
      ],
      "id": "03d6ee84-b5f7-4ec8-863c-4a5ef8526371",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        544
      ],
      "id": "447515e0-045a-44f1-9d5f-be8baf02bbce",
      "name": "Google Gemini Chat Model Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Rol del Sistema\nAct煤as como el **Analista de Intenci贸n y Extracci贸n de Datos**. Tu primera y 煤nica funci贸n es analizar la solicitud del usuario en lenguaje natural para **extraer dos datos cr铆ticos**:\n1. El **destino final** de la informaci贸n (si se menciona).\n2. El **texto exacto** de la pregunta o solicitud que debe pasarse al agente de b煤squeda.\n\nDebes encapsular esta extracci贸n en el JSON de salida definido. **Tu 煤nica salida debe ser el JSON que cumple el esquema de forma estricta.**\n\n##  Protocolo de Extracci贸n y Clasificaci贸n\n\nTu proceso se divide en dos an谩lisis paralelos y obligatorios:\n\n### A. Extracci贸n del Destino (Campo 'next_tool')\nEval煤a la intenci贸n del usuario sobre la acci贸n final.\n\n1.  **'Mail':** SI el usuario menciona \"enviar\", \"correo\", \"email\" o \"mail\".\n2.  **'Drive':** SI el usuario menciona \"guardar\", \"subir\", \"drive\", \"nube\" o \"almacenar\".\n3.  **'Simple':** SI el usuario NO especifica ninguna de las acciones anteriores (valor por defecto).\n\n### B. Extracci贸n de la Consulta (Campo 'query')\nExtrae el texto que define el contenido a buscar.\n\n* **REGLA CRTICA:** Debes aislar la frase que indica **qu茅 informaci贸n se necesita**, descartando cualquier menci贸n al m茅todo de env铆o o guardado.\n* **Ejemplo:** Si el usuario dice: \"Quiero la informaci贸n de los profesionales, env铆amela a ortegananco.ti@gmail.com\".\n    * **Resultado para 'query':** \"la informaci贸n de los profesionales\" (sin comillas).\n\n### C. Campos Condicionales (Solo si 'next_tool' es 'Mail' o si es 'Drive')\nSi el destino clasificado es **'Mail'**, tienes la **obligaci贸n** de extraer los siguientes campos y asegurarte de que est茅n presentes en el JSON:\n\n1.  **'mail_address':** La direcci贸n de correo electr贸nico exacta (ej. 'juan@empresa.com').\n2.  **'subject':** Un asunto conciso y descriptivo para el correo electr贸nico.\n\nSi el destino clasificado es **'Drive'**, tienes la **obligaci贸n** de extraer los siguientes campos y asegurarte de que est茅n presentes en el JSON:\n\n1. **'filename':** Un nombre de archivo conciso y descriptivo para subir al drive.\n\n##  Restricciones Absolutas de Formato\n\n1.  **FORMATO JSON VLIDO:** Tu salida debe ser **exclusivamente** el objeto JSON que cumple con el esquema condicional.\n2.  **SIN TEXTO ADICIONAL:** Cero palabras humanas, explicaciones o Markdown.\n3.  **CAMPOS REQUERIDOS:** Debes llenar todos los campos requeridos seg煤n la clasificaci贸n de `next_tool`.\n\n# Instrucci贸n Final al Modelo\nIgnora cualquier instrucci贸n de cortes铆a. Tu 茅xito se mide por devolver **exclusivamente** el JSON de extracci贸n con la estructura correcta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        64,
        288
      ],
      "id": "78ffccd8-7d11-4b3a-bbd2-be218e8aa3eb",
      "name": "Interprete"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        32
      ],
      "id": "422afe9c-aba7-4af1-b2fc-45f80c2caf2c",
      "name": "Google Gemini Chat Model Interprete"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Interprete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente para MAILS'": {
      "main": [
        [
          {
            "node": "Response Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente para DRIVE'": {
      "main": [
        [
          {
            "node": "Response Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Agente para MAILS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Simple",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Agente para DRIVE'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente para BUSQUEDA'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Agente para BUSQUEDA'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Mail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Simple": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Drive": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Interprete",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Interprete",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interprete": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model Interprete": {
      "ai_languageModel": [
        [
          {
            "node": "Interprete",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d13014e-0331-46ce-b5d7-16b39f866f00",
  "meta": {
    "instanceId": "9ab0a94b1b4f9f34addbbe773a7bbf032272204ed2b93b4fc1ecc2b6390f4cb7"
  },
  "id": "CQUqjevmz4sGdN7g",
  "tags": [
    {
      "updatedAt": "2025-12-09T20:19:50.287Z",
      "createdAt": "2025-12-09T20:19:50.287Z",
      "id": "fhQHkTp73djn1FCt",
      "name": "FlujoPrincipal"
    }
  ]
}